@charset "utf-8";
img { border: 0px; }
.bannerbox { width: 350px; height: 180px; overflow: hidden; margin: 0px auto; }
#focus { width: 350px; height: 180px; clear: both; overflow: hidden; position: relative; float: left; }
    #focus ul { width: 350px; height: 180px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus ul li { float: left; width: 350px; height: 180px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus .preNext { width: 200px; height: 180px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 0; background: url(images/sprite.png) no-repeat left center; }
    #focus .next { right: 0; background: url(images/sprite1.png) no-repeat right center; }

#focus2 { width: 350px; height: 180px; clear: both; overflow: hidden; position: relative; float: left; }
    #focus2 ul { width: 350px; height: 180px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus2 ul li { float: left; width: 350px; height: 180px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus2 .preNext { width: 350px; height: 180px; position: absolute; top: 0px; cursor: pointer; }
    #focus2 .pre { left: 0; background: url(images/sprite.png) no-repeat left center; }
    #focus2 .next { right: 0; background: url(images/sprite1.png) no-repeat right center; }
