<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
 <div class="hotinfo_plate">
                           <div class="hotinfo_top">
                               <ul>
                                  <li class="current" id="hotel_info_tab"><a href="javascript:void(0)" >酒店介绍</a></li>
                                  <li id="hotel_picture_tab"><a href="javascript:void(0)" >酒店图片</a></li>
                                  <li id="hotel_lable_tab"><a href="javascript:void(0)" >周边地标</a></li>
                               </ul>
                           </div>
                           <div class="hotinfo_bottom">
                           	   <!-- 酒店介绍 -->
	                           <div id="hotel_info_div">
	                               <div class="infojs"> 
	                                   <div class="infojs_bottom">


</body>
</html>
