.carousel {
	position:relative;
	z-index:0;
	height:260px;
	overflow:hidden
}
.carousel-item img {
	width:540px;
	height:260px;
	display:block
}
.carousel .switch {
	position:absolute;
	right:4px;
	bottom:10px
}
.carousel .switch li {
	float:left;
	width:10px;
	height:10px;
	overflow:hidden;
	margin-left:10px;
	background:url("/static/common/ui/carousel/img/ico3_e29e3591.png") no-repeat 0 -30px
}
.carousel .switch .active {
	background-position:0 0
}
@-webkit-keyframes fadeIn {
from {
opacity:0
}
to {
	opacity:1
}
}
.goods-con .wt-good-item-n {
	-webkit-animation:fadeIn 1s ease-in;
	animation:fadeIn 1s ease-in
}
.goods-con .wt-good-item-n:nth-child(1) {
-webkit-animation:fadeIn .2s ease-in;
animation:fadeIn .2s ease-in
}
.goods-con .wt-good-item-n:nth-child(2) {
-webkit-animation:fadeIn .3s ease-in;
animation:fadeIn .3s ease-in
}
.goods-con .wt-good-item-n:nth-child(3) {
-webkit-animation:fadeIn .5s ease-in;
animation:fadeIn .5s ease-in
}
.goods-con .wt-good-item-n:nth-child(4) {
-webkit-animation:fadeIn .6s ease-in;
animation:fadeIn .6s ease-in
}
.goods-con .wt-good-item-n:nth-child(5) {
-webkit-animation:fadeIn .4s ease-in;
animation:fadeIn .4s ease-in
}
.goods-con .wt-good-item-n:nth-child(6) {
-webkit-animation:fadeIn .6s ease-in;
animation:fadeIn .6s ease-in
}
.wt-good-item-n {
	width:314px;
	height:338px;
	background-color:#fff;
	float:left;
	position:relative
}
.good-item-n-border {
	width:312px;
	height:336px;
	border:1px solid #000;
	_border:1px solid #e7e7e7;
	opacity:.1;
	filter:alpha(opacity=10);
	box-shadow:0 1px 1px #eee;
	-webkit-box-shadow:0 1px 1px #eee;
	-moz-box-shadow:0 1px 1px #eee;
	position:absolute;
	left:0;
	top:0;
	z-index:2
}
.good-n-meta {
	padding:11px 11px 7px;
*cursor:pointer
}
.good-n-img {
	width:292px;
	height:190px;
	position:relative;
	z-index:1
}
.good-n-img .expiration {
	background-color:rgba(0, 0, 0, 0.6);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0
}
.good-n-img .expiration-icon {
	background:url("/static/common/ui/good-common-n/img/bg_goods_exp_98c23529.png") 0 0 no-repeat;
	position:absolute;
	top:0;
	left:0;
	width:88px;
	height:32px;
	_width:65px;
	_height:31px
}
.good-n-img .expiration-bg {
	background-color:#000\9;
	filter:alpha(opacity=60);
	width:100%;
	height:100%
}
.good-indication {
	width:290px;
	height:41px;
	position:absolute;
	top:-4px;
	right:0
}
.good-indication i {
	width:43px;
	height:41px;
	display:block;
	float:right
}
.good-indication .fresh {
	background:  no-repeat;
	background-position:-53px -51px
}
.good-indication .cashback {
	background:  no-repeat;
	background-position:-106px 0
}
.good-indication .free-appointment {
	background:  no-repeat;
	background-position:0 -51px
}
.good-indication .reduction-app {
	background:  no-repeat;
	background-position:-53px 0
}
.good-indication .reduction-pc {
	background:  no-repeat;
	background-position:0 0
}
.good-n-img img {
	width:292px;
	height:190px
}
.wt-good-item-n .good-n-img .good-loc {
	width:272px;
	_height:53px;
	line-height:25px;
	padding:10px;
	position:absolute;
	bottom:0;
	left:0;
	overflow:hidden;
	color:#fff;
	display:none
}
.wt-good-item-n .good-n-img .good-loc-bg {
	width:100%;
	_width:292px;
	height:100%;
	_height:83px;
	background-color:#000;
	opacity:.8;
	-webkit-opacity:.8;
	-moz-opacity:.8;
	filter:alpha(opacity=80);
	position:absolute;
	left:0;
	top:0
}
.wt-good-item-n .good-n-img .good-loc span {
	word-break:break-all;
	display:block;
	line-height:20px;
	position:relative;
	z-index:1
}
.wt-good-item-n .good-n-img .good-loc span.opn {
	height:25px;
	overflow:hidden;
	display:inline;
	width:100%
}
.wt-good-item-n .good-n-img .good-loc span.opa {
	max-height:140px;
	overflow:hidden;
	clear:both
}
.wt-good-item-n .good-n-img .good-loc span.nopn {
	max-height:60px;
	overflow:hidden
}
.wt-good-item-n .good-n-meta .good-n-title {
	width:282px;
	height:50px;
	padding:7px 5px 0;
*position:relative;
*cursor:pointer;
	overflow:hidden;
	line-height:25px
}
.wt-good-item-n .good-n-meta .good-n-title a {
	color:#000;
	font-size:16px;
	position:relative;
	z-index:4;
	font-family:"microsoft yahei", "Î¢ÈíÑÅºÚ", Arial, sans-serif
}
.wt-good-item-n .good-n-meta .good-n-title a.brand {
	color:#de0909;
	margin-right:8px
}
.wt-good-item-n .good-n-price {
	height:45px;
	width:100%;
	padding-top:2px
}
.wt-good-item-n .good-n-price .good-value {
	float:left;
	color:#de0909;
	font-size:30px;
	margin-left:15px
}
.wt-good-item-n .good-n-price .good-value small {
	font-size:20px;
	margin-right:3px;
	font-family:"microsoft yahei", "Î¢ÈíÑÅºÚ", Arial, sans-serif
}
.wt-good-item-n .good-n-price .good-pre {
	float:left;
	margin-left:11px;
	color:#999;
	font-size:12px;
	margin-top:16px
}
.wt-good-item-n .good-n-price .rdc {
	background-color:#ee762a;
	color:#fff;
	display:block;
	float:left;
	margin:9px 0 0 10px;
	padding:0 5px;
	line-height:20px;
	font-size:12px;
	border-radius:2px;
	font-family:"\5FAE\8F6F\96C5\9ED1"
}
.wt-good-item-n .good-n-price .good-pre span {
	text-decoration:line-through
}
.wt-good-item-n .good-n-price .good-rebate {
	display:block;
	float:right;
	color:#de0909;
	font-size:14px;
	margin-right:15px;
	margin-top:16px;
	font-family:"microsoft yahei", "Î¢ÈíÑÅºÚ", Arial, sans-serif;
	font-weight:600
}
.wt-good-item-n .good-n-foot {
	height:25px;
	line-height:25px;
	width:312px;
	margin:0 1px;
	background-color:#EEEEEE;
	font-size:12px;
	position:relative;
	z-index:5
}
.wt-good-item-n .good-n-foot .n-sitename {
	margin-left:15px;
	color:#999;
	float:left;
	display:inline-block
}
.wt-good-item-n .good-n-meta .good-n-title em, .wt-good-item-n .good-n-foot .n-sitename em {
	color:#C00
}
.wt-good-item-n .good-n-foot .favor {
	display:none;
	float:right;
	height:14px;
	margin-top:6px;
	line-height:14px;
	color:#333
}
.wt-good-item-n .good-n-foot .favor-ico {
	background:url(/static/common/ui/good-common-n/img/collect_8b2ebd72.png) left no-repeat;
	zoom:1;
	padding-left:14px
}
.wt-good-item-n .msg {
	background-color:#f4f4f4;
	display:none;
	position:absolute;
	bottom:20px;
	right:50px;
	padding:5px 20px 5px 10px;
	border:solid 1px #888d95;
	white-space:nowrap;
	z-index:5
}
.wt-good-item-n .msg .close-ico, .wt-good-item-n .msg .close-ico:hover {
	background:url("http://tuan.baidu.com/static/resouce/tuan/css/img/bg_main.png") no-repeat scroll -159px -101px transparent;
	position:absolute;
	right:3px;
	top:0;
	width:12px;
	height:14px;
	color:#818181
}
.wt-good-item-n .good-n-foot .n-bought {
	float:right;
	margin:0 15px 0 20px;
	color:#999
}
.wt-good-item-n-hover .good-n-meta .good-n-title em {
	color:#fff
}
.wt-good-item-n-hover .good-n-meta {
	background-color:#059eec
}
.wt-good-item-n-hover .good-n-foot .favor {
	display:block
}
.wt-good-item-n-hover .good-n-meta .good-n-title a, .wt-good-item-n-hover .good-n-meta .good-n-title a.brand {
	color:#fff
}
.wt-good-item-n-hover .good-n-img .good-loc {
	display:block
}
.index-goods-container {
	position:relative;
	top:-257px
}
.at-current {
	background-color:#de0909;
	color:#fff
}
.reduction-dialog-container .tang-title {
	display:none
}
.reduction-dialog-container .tang-body {
	background-color:#fafafa;
	border-top-width:1px;
	border-bottom-width:1px;
	padding:20px 0 0 0
}
.reduction-dialog-container .tang-body .tang-content {
	padding:0
}
.reduction-dialog {
	position:relative;
	padding:5px 25px
}
.reduction-dialog .close-btn {
	position:absolute;
	right:-1px;
	top:-21px;
	width:36px;
	height:36px;
	background:url(/static/common/ui/good-reduction/img/close_73f20bdf.png) no-repeat 0 0;
	border:1px solid #f2f2f2;
	cursor:pointer;
	display:block
}
.reduction-dialog .close-btn:hover {
	background-position:0 -44px
}
.reduction-dialog .code {
	float:left;
	text-align:center
}
.reduction-dialog .code .link {
	background:url(/static/common/ui/good-reduction/img/app-code_c1b5c4af.png) no-repeat 0 0;
	width:172px;
	height:172px;
	display:block
}
.reduction-dialog .code span {
	line-height:20px;
	color:#666;
	text-align:center
}
.reduction-dialog .red {
	color:#de0909
}
.reduction-dialog .title, .reduction-dialog .subtitle {
	line-height:30px;
	height:30px;
	color:#333;
	font-family:"Microsoft Yahei"
}
.reduction-dialog .app-download {
	background:url(/static/common/ui/good-reduction/img/app-download-btn_ddf848f2.png) no-repeat 0 0;
	text-indent:-9999px;
	width:140px;
	height:45px;
	display:block;
	margin:22px 0;
	overflow:hidden
}
.reduction-dialog .app-download:hover {
	opacity:.9;
	filter:alpha(opacity=90)
}
.reduction-dialog .close-thanks {
	background:url(/static/common/ui/good-reduction/img/btns_583faece.gif) no-repeat left 0;
	display:inline-block;
	line-height:26px;
	height:26px;
	overflow:hidden;
	cursor:pointer;
	color:#000;
	padding-left:5px;
	float:left
}
.reduction-dialog .close-thanks em {
	display:block;
	height:26px;
	padding:0 15px 0 10px;
	background:url(/static/common/ui/good-reduction/img/btns_583faece.gif) no-repeat right -26px
}
.reduction-dialog .close-thanks:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	text-decoration:none
}
.reduction-dialog .tip-setting-check, .reduction-dialog .tip-setting-uncheck {
	cursor:pointer;
	padding-left:18px;
	line-height:15px
}
.reduction-dialog .tip-setting-check {
	background:url(/static/common/ui/good-reduction/img/check_9644461f.png) no-repeat 0 -26px
}
.reduction-dialog .tip-setting-uncheck {
	background:url(/static/common/ui/good-reduction/img/check_9644461f.png) no-repeat 0 1px
}
.reduction-dialog .reduction-content {
	padding-left:192px
}
.reduction-dialog .reduction-content .title, .reduction-dialog .reduction-content .subtitle {
	font-size:18px
}
.reduction-dialog .reduction-content .tip-setting-check, .reduction-dialog .reduction-content .tip-setting-uncheck {
	margin-left:18px;
	float:left;
	margin-top:5px
}
.reduction-dialog .reduction-active-content {
	padding-left:192px
}
.reduction-dialog .reduction-active-content .title {
	font-size:24px;
	letter-spacing:1px
}
.reduction-dialog .reduction-active-content .title-download {
	padding:10px 0;
	height:40px;
	position:relative
}
.reduction-dialog .reduction-active-content .title-download .android {
	display:block;
	background:url(/static/common/ui/good-reduction/img/btns_4161a1d4.png) no-repeat 0 0;
	width:122px;
	height:40px;
	overflow:hidden;
	position:absolute;
	top:10px;
	left:0
}
.reduction-dialog .reduction-active-content .title-download .android:hover {
	background-position:0 -60px
}
.reduction-dialog .reduction-active-content .title-download .iphone {
	display:block;
	background:url(/static/common/ui/good-reduction/img/btns_4161a1d4.png) no-repeat -175px 0;
	width:125px;
	height:40px;
	overflow:hidden;
	float:left;
	position:absolute;
	top:10px;
	left:144px
}
.reduction-dialog .reduction-active-content .title-download .iphone:hover {
	background-position:-175px -60px
}
.reduction-dialog .reduction-active-content .desc-list {
	padding:10px 0;
	color:#666
}
.reduction-dialog .reduction-active-content .desc-list li {
	background:url(/static/common/ui/good-reduction/img/point_94520c47.png) no-repeat 0 center;
	padding-left:15px;
	line-height:22px;
	height:22px
}
.reduction-dialog .reduction-active-content .tip-setting-check, .reduction-dialog .reduction-active-content .tip-setting-uncheck {
	margin-left:18px;
	float:left;
	margin-top:5px
}
.active-desc {
	background-color:#f1f1f1
}
.active-desc .content-header {
	line-height:26px;
	height:26px;
	padding:0 26px
}
.active-desc .to-know {
	float:right;
	background:url(/static/common/ui/good-reduction/img/down_34ab9f1b.gif) no-repeat right center;
	padding-right:20px;
	color:#de0909;
	cursor:pointer
}
.active-desc span.to-know-down {
	background:url(/static/common/ui/good-reduction/img/up_8dc286e2.gif) no-repeat right center
}
.active-desc .content-list {
	padding:4px 0 15px 0;
	display:none
}
.active-desc .content-list li {
	line-height:24px;
	height:24px;
	padding-left:40px
}
.tang-pager {
	font-family:inherit;
	text-align:center
}
.tang-pager .tang-pager-first, .tang-pager .tang-pager-previous, .tang-pager .tang-pager-normal, .tang-pager .tang-pager-current, .tang-pager .tang-pager-next, .tang-pager .tang-pager-last {
	display:inline-block;
	line-height:20px;
	height:20px;
	padding:0 7px;
	zoom:1;
	color:#666;
	font-size:12px;
	font-family:"\5B8B\4F53"
}
.tang-pager .tang-pager-first, .tang-pager .tang-pager-previous, .tang-pager .tang-pager-normal, .tang-pager .tang-pager-next, .tang-pager .tang-pager-last {
	text-decoration:none;
	margin-right:5px;
	border:solid 1px #d5d5d5
}
.tang-pager .tang-pager-first:hover, .tang-pager .tang-pager-previous:hover, .tang-pager .tang-pager-normal:hover, .tang-pager .tang-pager-next:hover, .tang-pager .tang-pager-last:hover {
	background:#e11111;
	border:1px solid #d90909;
	color:#fff;
	text-decoration:none
}
.tang-pager .tang-pager-current {
	font-weight:bold;
	border-color:#fff
}
.tang-pager .tang-pager-last {
	display:none
}
.wt-pagelist .tang-pager-main a, .wt-pagelist .tang-pager-main span {
	background-color:#fff;
	display:inline-block;
	line-height:16px;
	margin-right:5px;
	padding:2px 7px;
	border:solid 1px #d5d5d5;
	color:#666;
*display:inline;
	zoom:1
}
.wt-pagelist .tang-pager-main a:hover {
	background-color:#e11111;
	border-color:#d90909;
	color:#fff;
	text-decoration:none
}
.wt-pagelist .tang-pager-main .tang-pager-first, .wt-pagelist .tang-pager-main .tang-pager-previous, .wt-pagelist .tang-pager-main .tang-pager-normal, .wt-pagelist .tang-pager-main .tang-pager-current, .wt-pagelist .tang-pager-main .tang-pager-next, .wt-pagelist .tang-pager-main .tang-pager-last {
	display:inline-block;
	line-height:20px;
	height:20px;
	padding:0 7px;
	zoom:1;
	color:#666;
	font-size:12px;
	font-family:inherit
}
.wt-pagelist .tang-pager-main .tang-pager-current {
	font-weight:bold;
	border-color:#fff;
	color:#333
}
.wt-pagelist .tang-pager-main .tang-pager-last {
	display:none
}
.wt-pagelist .tang-pager-main .tang-pager-first {
	display:inline-block
}
.wt-pagelist .tang-pager-main a.tang-pager-next, .wt-pagelist .tang-pager-main a.tang-pager-previous {
	background:#FFF url("/static/common/ui/pager/img/ico_row_ddd6bad7.png") 0 0 no-repeat
}
.wt-pagelist .tang-pager-main a.tang-pager-next:hover, .wt-pagelist .tang-pager-main a.tang-pager-previous:hover {
	background:#e11111 url("/static/common/ui/pager/img/ico_row_ddd6bad7.png") 0 0 no-repeat
}
.wt-pagelist .tang-pager-main a.tang-pager-previous {
	padding-left:15px;
	background-position:-3px -2px
}
.wt-pagelist .tang-pager-main a.tang-pager-previous:hover {
	padding-left:15px;
	background-position:-3px -31px
}
.wt-pagelist .tang-pager-main a.tang-pager-next {
	padding-right:15px;
	background-position:40px -60px
}
.wt-pagelist .tang-pager-main a.tang-pager-next:hover {
	padding-right:15px;
	background-position:40px -88px
}
.feedback {
	display:none;
	width:488px;
	height:410px;
	border-top:1px solid #b2b2b2;
	border-left:1px solid #888;
	border-right:1px solid #888;
	border-bottom:1px solid #888;
	background-color:#fafafa
}
.feedback .feedback-container {
	width:488px;
	height:34px;
	line-height:34px;
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #eaeaea;
	background-color:#fdfdfd
}
.feedback .feedback-container .feedback-title {
	float:left;
	display:inline-block;
	font-weight:bold;
	color:#666;
	font-size:14px;
	margin-left:20px
}
.feedback .feedback-container .feedback-closed {
	background: no-repeat;
	float:right;
	display:inline-block;
	width:11px;
	height:11px;
	margin-top:11px;
	margin-right:12px;
	cursor:pointer;
	background-position:0 -90px
}
.feedback .feedback-wrap {
	margin-top:15px;
	margin-left:20px
}
.feedback .feedback-wrap .feedback-content {
	width:436px;
	height:88px;
	padding-left:10px;
	padding-top:10px;
	border:1px solid #d9d9d9;
	resize:none;
	outline:0;
	color:#999
}
.feedback .feedback-wrap .feedback-info {
	font-weight:bold;
	color:#666;
	padding-top:22px;
	padding-bottom:17px
}
.feedback .feedback-wrap .feedback-info span {
	font-weight:normal
}
.feedback .feedback-wrap label {
	margin-right:10px;
*position:relative;
*top:-16px
}
.feedback .feedback-wrap input {
*display:inline-block;
*line-height:26px;
	height:26px;
	width:181px;
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:0
}
.feedback .feedback-wrap .feedback-submit {
	background: no-repeat;
	position:absolute;
	width:115px;
	height:35px;
	cursor:pointer;
	margin-left:166px;
	border:0;
	background-position:-125px -45px
}
.feedback .feedback-wrap .feedback-submit:hover {
	background: no-repeat;
	background-position:-125px 0
}
.feedback .feedback-wrap .feedback-destroy {
	background: no-repeat;
	width:115px;
	height:35px;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	border:0;
	background-position:0 -45px
}
.feedback .feedback-wrap .feedback-destroy:hover {
	background: no-repeat;
	background-position:0 0
}
.feedback .feedback-wrap .feedback-phone {
	font-weight:bold;
	color:#666;
	font-size:14px;
	margin-top:10px
}
.feedback .feedback-wrap .feedback-tip {
	display:none;
	padding-top:25px;
	padding-bottom:10px;
	font-size:14px
}
.feedback .feedback-wrap .feedback-button {
	margin-top:8px;
	position:relative
}
.feedback .feedback-wrap .feedback-button .feedback-error {
	position:absolute;
	top:12px;
	left:295px;
	color:#de0909
}
.filter-area .filter {
	padding-left:18px;
	margin-left:13px;
	background:url(/static/widget/common/filterBox/img/checkNew_9644461f.png) no-repeat 0 1px;
	text-decoration:none;
*background-position-y:0;
	border:0;
	color:#333
}
.filter-area .filter:hover {
	text-decoration:none
}
.filter-area .selected {
	padding-left:18px;
	text-decoration:none;
	background:url(/static/widget/common/filterBox/img/checkNew_9644461f.png) no-repeat 0 -26px;
*background-position-y:-27px;
	border:0
}
.filter-area #fullReduce i {
	background: no-repeat;
	background-position:-106px -51px;
	display:block;
	width:21px;
	height:12px;
	position:absolute;
	right:134px;
	top:-9px;
*right:140px
}
.filter-area .vertical-separator {
	display:inline-block;
	width:1px;
	height:12px;
	background-color:#e5e5e5
}
.sort-area a {
	padding-right:10px;
	margin-right:15px;
	color:#333
}
.sort-area .default {
	padding-right:0
}
.sort-area .sales {
	background:url(/static/widget/common/sortBanner/img/icon-des_e0b60891.png) no-repeat right 3px;
*background-position-y:1px
}
.sort-area .discount {
	background:url(/static/widget/common/sortBanner/img/icon-asc_1c432fad.png) no-repeat right 3px;
*background-position-y:1px
}
.sort-area .price {
	background:url(/static/widget/common/sortBanner/img/price-arrow_e2bd10de.png) no-repeat right 3px;
*background-position-y:1px
}
.sort-area .selected {
	color:#de0909;
	font-weight:bold;
	background-position:right -12px
}
.sort-area .price-asc {
	background-position:right -27px;
*background-position-y:-29px
}
.sort-area .price-desc {
	background-position:right -12px;
*background-position-y:-14px
}
.wt-pagelist {
	margin:20px 0 40px;
	text-align:center
}
.wt-pagelist a, .wt-pagelist span {
	background-color:#fff;
	display:inline-block;
	line-height:16px;
	margin-right:5px;
	padding:2px 7px;
	border:solid 1px #d5d5d5;
	color:#666;
*display:inline;
	zoom:1
}
.wt-pagelist a:hover {
	background-color:#e11111;
	border-color:#d90909;
	color:#fff;
	text-decoration:none
}
.wt-pagelist .prev-page-a, .wt-pagelist .next-page-a {
*height:16px;
*line-height:17px;
*position:relative;
*top:-2px;
	_top:-1px
}
.wt-pagelist .cur-page {
	border-color:white;
	color:#333;
	font-weight:bold
}
.wt-pagelist .prev-page-ico, .wt-pagelist .next-page-ico {
	display:inline-block;
	background:url("http://tuan.baidu.com/static/resouce/tuan/css/img/bg_main.png") 0 0 no-repeat;
	width:10px;
	height:11px;
*position:relative;
*top:-2px;
	_top:1px;
	zoom:1
}
.wt-pagelist .prev-page-ico {
	background-position:-155px -13px
}
.wt-pagelist a:hover .prev-page-ico {
	background-position:-155px -27px
}
.wt-pagelist .next-page-ico {
	background-position:-161px -13px
}
.wt-pagelist a:hover .next-page-ico {
	background-position:-161px -27px
}
.good-indication .fresh, .good-indication .cashback, .good-indication .free-appointment, .good-indication .reduction-app, .good-indication .reduction-pc, .filter-area #fullReduce i {
	background-image:url("/static/common/pkg/base-xll_ze86087e5.png")
}
.feedback .feedback-container .feedback-closed, .feedback .feedback-wrap .feedback-submit, .feedback .feedback-wrap .feedback-submit:hover, .feedback .feedback-wrap .feedback-destroy, .feedback .feedback-wrap .feedback-destroy:hover {
	background-image:url("/static/common/pkg/base-xll_PNG8_z515d215e.png");
}
