<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>程序安装-安装成功-<?php echo ZHUNA_SOFT_NAME.'-'.ZHUNA_SOFT_VERSION; ?></title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="js/tools.js" language="javascript" type="text/javascript"></script>
</head>

<body>
<div id="layout">
<h5><?php echo ZHUNA_SOFT_ENAME.'&nbsp;&nbsp;Release&nbsp;'.ZHUNA_SOFT_VERSION;?> </h5>


<div class="box">
<h2>安装成功</h2><h4>恭喜您，<?php echo $cfg_webname;?> 已经成功地安装完成。请联系管理员开通接口权限，
基于安全的考虑，请在安装完成后删除 install 目录。</h4>
  <ul style="text-align:left; width: 260px">
    <li><a href="../">前往 <?php echo $cfg_webname;?> 首页 </a></li>
    <li><a href="<?php echo $adminurl;?>">前往 <?php echo $cfg_webname;?> 后台管理中心 </a></li>
  </ul>
  </div>
  
</div>

</body>
</html>
